"*":
  "exception-reporting":
    userId: "b726313b-7bbd-e6c1-0ef8-7e0c7546aac1"
  welcome:
    showOnStartup: false
  core:
    projectHome: "/Users/kaiquesilva/projects"
    disabledPackages: [
      "pipe"
      "term"
      "linter-jshint"
    ]
  editor:
    invisibles: {}
  linter: {}
  minimap:
    plugins:
      "find-and-replace": true
      selection: true
  Zen: {}
  "atom-beautify":
    _analyticsUserId: "3ff1aeda-38d6-4aa9-8ee5-359f954b7315"
  "one-light-ui": {}
  autosave:
    enabled: true
  rulerz: {}
"source.gfm":
  editor:
    softWrap: true
